.body_login {
  /* position: absolute;
  color: #fff;
  background-color: #09213a;
  height: 100%;
  width: 100%; */
}
.card-body {
  background-color: rgb(248, 244, 244);
}
.para_color {
  color: #fff;
}
